<style>
                       * {
                         box-sizing: border-box;
                         margin: 0;
                         padding: 0;
                       }
                     .my-mobile-img img {
      width: 100%;
      height: 100%;
      object-fit: contain;
  }
                       .text-block-btn-container-d6{
                         display: flex;
                         width: 360px;
                         flex-direction: column;
                         align-items: center;
                         gap: 8px;
                       }
                       .container-d6-parent-d11{
                         max-width: 1440px;
                         margin: 0px auto;
                         padding-top: {{ section.settings.custom-padding-option-top-desktop }}px;
                         padding-bottom: {{ section.settings.custom-padding-option-bottom-desktop }}px;
                           padding-inline: 48px;
                       }
                       .button-d8-tit{
                         color: #FFF;
                     font-family: Montserrat;
                     font-size: 18px;
                     font-style: normal;
                     font-weight: 700;
                     line-height: 27px; /* 150% */
                         text-decoration: none;
                         display: block;
                         width: 100%;
                         text-align: center;
                       }
                       .container-d6-parent-d11 .heading-container-d6-d11 p{
                         color: rgba(0, 0, 0, 0.50);
                       }

                       #shopify-section-{{ section.id }} .heading-and-description {
                           display:flex;
                           flex-direction:column;
                           gap: 8px;
                           text-align:center;
                               width: 100%;
                  max-width: 780px;
                  margin: 0 auto 60px;
                         }
                       #shopify-section-{{ section.id }} .heading-s.text-animation-d8 {
                      color: #000;
                      text-align: center;
                      font-family: "DIN Next";
                      font-size: 48px;
                      font-style: normal;
                      font-weight: 700;
                      line-height: normal;
                  }
                         #shopify-section-{{ section.id }} .heading-s-color {
                           color: #254249;
                         }
                         #shopify-section-{{ section.id }} .description-s.text-animation-d8 {
                    color: #000;
                    text-align: center;
                    font-family: "Libre Franklin";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 28px;
                }
                          .text-above-button {
                           display: flex;
                           gap: 12px;
                           width: max-content;
                           margin: 0 auto;
                         }
                          .text-above-button .free-us-money-back {
                           display: flex;
                           gap: 8px;
                           align-items: center;
                           font-size: 13px;
                           line-height: 27px;
                           font-weight: 500;
                           font-family: Montserrat;
                           color: #040404;
                         }
                          .text-above-button .free-us-money-back div {
                           display:flex;
                         }
                         #shopify-section-{{ section.id }} .left-content-1,
                         #shopify-section-{{ section.id }} .left-content-2,
                         #shopify-section-{{ section.id }} .left-content-3,
                         #shopify-section-{{ section.id }} .left-content-4{
                           display: flex;
                gap: 22px;
                padding: 24px 0px 24px 20px;
                           align-items: start;
                         }
                         #shopify-section-{{ section.id }} .right-content-1,
                         #shopify-section-{{ section.id }} .right-content-2,
                         #shopify-section-{{ section.id }} .right-content-3 {
                           display: flex;
                gap: 22px;
                padding: 24px 0px 24px 20px;
                           align-items: start;
                         }
                    #shopify-section-{{ section.id }} .right-content-4 {
                display: flex;
                gap: 22px;
                padding: 24px 0px 24px 20px;
                align-items: start;
            }

                       #shopify-section-{{ section.id }} .container-d6 {
                         display: flex;
                         flex-direction: column;
                         align-items: center;
                         gap: 60px;
                         gap: 0px;
                       }

                       #shopify-section-{{ section.id }} .container-d6.desktop {
                         position: relative;
                           overflow-x: hidden;
                           /* overflow-y: unset; */
                           min-height: 504px;
                       }


                       #shopify-section-{{ section.id }} .text-block {
                         text-align: center;
                         max-width: 360px;
                       }
                       #shopify-section-{{ section.id }} .svgicon-left-1 {
                         position: absolute;
                         bottom: -62.5px;
                         right: -200px;
                       }
                       #shopify-section-{{ section.id }} .svgicon-left-2 {
                         position: absolute;
                         bottom: -2px;
                         right: -196px;
                       }
                       #shopify-section-{{ section.id }} .svgicon-right-1 {
                         position: absolute;
                         bottom: -58px;
                         left: -196px;
                       }
                       #shopify-section-{{ section.id }} .svgicon-right-2 {
                         position: absolute;
                         bottom: -2px;
                         left: -196px;
                       }
                                           #shopify-section-{{ section.id }} .text-align-right-d11 {
                                             text-align: left;
                                           }
                                           #shopify-section-{{ section.id }} .text-block-heading-d11 {
                                             max-width: 277px;
                                             position: relative;
                                           }
                                           #shopify-section-{{ section.id }} .text-block-h3-d11 {
                                             color: #000;
              font-family: "DIN Next";
              margin: 0;
              font-size: 20px;
              font-style: normal;
              font-weight: 700;
              text-transform: capitalize;
              line-height: normal;
                                           }
                                           #shopify-section-{{ section.id }} p.text-block-p-d11 {
              color: #000;
              font-family: "Libre Franklin";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
          }

                                           #shopify-section-{{ section.id }} .center-image {
                                             display: flex;
                                             justify-content: center;
                                           }


                       .center-image.desktop-image-d11 {
                           /* background-image: url('https://cdn.shopify.com/s/files/1/0593/7358/4564/files/Ellipse_background.png?v=1722281018'); */
                           background-size: cover;
                           background-position: center;
                           background-repeat: no-repeat;

                           min-width: 510px;
                           display: flex;
                           max-height: 621px;
                           height: 621px;
                       }


                       #shopify-section-{{ section.id }} .center-image img {
                           max-width: 510px;
                           height: 621px;
                           border-radius: 0px;
                           border: 0px solid #d9d9d9;
                           flex-shrink: 0;
                           object-fit: contain;

                           position: absolute;
                           top: 0px;
                                           }
                       .text-block-btn-container-d6-add-to-cart-text{
                         text-decoration: none;
                         color: #FFF;
                         font-family: Montserrat;
                         font-size: 16px;
                         font-style: normal;
                         font-weight: 600;
                         line-height: normal;
                       }
                       #shopify-section-{{ section.id }} .textblock-add-to-cart{
                         display: flex;
                         justify-content: center;
                         flex-direction: column;
                         align-items: center;
                         align-self: stretch;
                         width: 100%;
                         margin: 60px auto 0;
                       }

                       .text-block-btn-container-d6-add-to-cart{
                         border-radius: 5px;
                         background: #D3A221;
                         display: flex;
                         /* height: 64px; */
                         padding: 13.5px 31.5px;
                         justify-content: center;
                         align-items: center;
                         gap: 10px;
                         margin: 0 auto;
                         align-self: stretch;
                       }

                       .text-block-btn-container-d6-add-to-cart .button{
                         background: #d3a221;
                         border:none;
                         font-size: 18px;
                         font-weight: bold;
                       }

                       .text-block-btn-container-d6-add-to-cart .button:after {
                         box-shadow:none;
                       }

                       #shopify-section-{{ section.id }} .container-d6 {
                         flex-direction: row;
                         justify-content: space-between;
                         align-items: center;
                       }

                                             #shopify-section-{{ section.id }} .left,
                                             #shopify-section-{{ section.id }} .right {
                                               display: flex;
                                               flex-direction: column;
                                               gap: 0px;
                                             }

                       #shopify-section-{{ section.id }} .text-block {
                         text-align: left;
                         text-align: left;
                         display: flex;
                         flex-direction: column;
                         gap: 8px;
                       }
                       #shopify-section-{{ section.id }} .text-block-left {
                         display: flex;
                         flex-direction: column;
                         align-items: flex-start;
                         /* gap: 6px; */
                       }
        a.container-btn-d6 {
          border-radius: 5px;
          background: #49717B;
          display: flex;
          max-width: 485px;
          width: 100%;
          height: 64px;
          padding: 13.5px 31.5px;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          gap: 10px;
          color: #FFF;
    font-family: "DIN Next";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; /* 150% */
      }
                       @media screen and (min-width:904px) {
                       #shopify-section-{{ section.id }} .left-content-1 .left-content-1-icon {
                         display: contents;
                       }
                       #shopify-section-{{ section.id }} .text-block-left {
                         display: flex;
                         flex-direction: column;
                         align-items: flex-start;
                         gap: 6px;
                       }
                       #shopify-section-{{ section.id }} .left-content-1 .text-block.text-block-left  {
                           justify-content: end;
                       }
                       #shopify-section-{{ section.id }} .left-content-2,
                       #shopify-section-{{ section.id }} .left-content-3{
                           display: flex;
                           gap: 22px;
                           min-height:175px;
                           max-height: 175px;
                           position: relative;
                         }
                       #shopify-section-{{ section.id }} .left-content-2 .hr-top-s {
                         position:absolute;
                         width: 3000px;
                         margin-bottom: 0;
                         margin-top: 0;
                         top:0px;
                         background: gray;
                       }
                       #shopify-section-{{ section.id }} .left-content-2 .hr-bottom-s,
                       #shopify-section-{{ section.id }} .left-content-3 .hr-bottom-s{
                         position:absolute;
                         width: 3000px;
                         margin-bottom: 0;
                         margin-top: 0;
                         bottom:0px;
                         background: gray;
                       }


                       #shopify-section-{{ section.id }} .right-content-1 {
                           min-height:175px;
                           max-height: 175px;
                         }
                       #shopify-section-{{ section.id }} .right-content-2 {
                           display: flex;
                           gap: 22px;
                           min-height:175px;
                           max-height: 175px;
                           position: relative;
                         }
                       #shopify-section-{{ section.id }} .left-content-1,
                       #shopify-section-{{ section.id }} .left-content-2,
                       #shopify-section-{{ section.id }} .left-content-3,
                       #shopify-section-{{ section.id }} .left-content-4  {
                          display: flex;
                gap: 22px;
                padding: 24px 0px 24px 20px;
                         }
                       #shopify-section-{{ section.id }} .right-content-1,
                       #shopify-section-{{ section.id }} .right-content-2,
                       #shopify-section-{{ section.id }} .right-content-3{
                           display: flex;
                gap: 22px;
                padding: 24px 0px 24px 20px;
                         }
                      #shopify-section-{{ section.id }} .content-icon {
            width: 100%;
            height: 60px;
            max-width: 45px;
        }

                       }
                       @media screen and (min-width:903px) and (max-width:1315px) {

                       #shopify-section-{{ section.id }} .text-block-h3-d11 {
                         font-size: 18px;
                         max-width: 277px;
                         font-weight: 400;
                       }
                       #shopify-section-{{ section.id }} .text-block-p-d11 {
                         font-size: 12px;
                       }
                       .center-image.desktop-image-d11 {
                           min-width: 300px;
                           max-height: 300px;
                           height: 300px;
                       }
                       #shopify-section-{{section.id}} .center-image img {
                           max-width: 379px;
                           height: 360px;
                           border-radius: 0px;
                           border: 0px solid #d9d9d9;
                           flex-shrink: 0;
                           object-fit: cover;
                           position: absolute;
                           top: 80px;
                       }
                       #shopify-section-{{section.id}} .right-content-1 .right-content-1-icon {
                         display:contents;
                       }
                       #shopify-section-{{section.id}} .right-content-1 .text-block {
                         justify-content:end;
                       }

                       }
                       @media screen and (min-width:904px) {
                       #shopify-section-{{ section.id }} .container-d6.mobile {
                         display:none;
                       }

                       }
                       @media screen and (min-width:575px) and (max-width:904px) {
                       #shopify-section-{{ section.id }} .container-d6.desktop {
                         display:none;
                       }

                       #shopify-section-{{ section.id }} .container-d6.mobile {
                         display:flex;
                         flex-direction:column;
                       }

                       #shopify-section-{{ section.id }} .heading-and-description {
                           gap:16px;
                           max-width: 720px;
                           margin-bottom: 32px;
                         text-align: center;
                       }

                       #shopify-section-{{section.id}} .heading-s.text-animation-d8 {
                           font-size: 32px;
                           padding: 0px 30px;
                       }
                       #shopify-section-{{section.id}} .description-s {
                           font-size: 16px;
                       }

                       #shopify-section-{{section.id}} .container-d6 {
                           gap: 32px;
                       }

                       #shopify-section-{{section.id}} .text-block-heading-d11 {
                           max-width: 100%;
                           min-width: 100%;
                           position: relative;
                           display: flex;
                           justify-content: space-between;
                           padding: 16px;
                           align-items: end;
                           border-bottom: 1px solid rgba(4, 4, 4, 0.1);
                       }

                       #shopify-section-{{section.id}} .text-block-heading-d11 div {
                           width: 36px;
                           height: 32px;
                       }
                       #shopify-section-{{section.id}} .text-block-heading-d11 div img {
                           width: 100%;
                           height: auto;
                           object-fit: cover;
                       }

                       #shopify-section-{{section.id}} .text-block-h3-d11 {
                           font-size: 20px;
                           max-width: 277px;
                           position: relative;
                           font-style: normal;
                           /* border-bottom: 2px solid #648291; */
                           padding-bottom: 0px;
                           font-weight: 400;
                           line-height: normal;
                       }

                       #shopify-section-{{section.id}} .text-block-p-d11 {
                           font-size: 14px;
                           padding: 16px;
                       }


                       #shopify-section-{{section.id}} .content12,
                       #shopify-section-{{section.id}} .content34,
                       #shopify-section-{{section.id}} .content56,
                       #shopify-section-{{section.id}} .content66{
                           display: flex;
                           flex-direction: row;
                           gap: 20px;
                       }

                       #shopify-section-{{section.id}} .left-content-1,
                       #shopify-section-{{section.id}} .left-content-2,
                       #shopify-section-{{section.id}} .left-content-3,
                       #shopify-section-{{section.id}} .left-content-4,
                       #shopify-section-{{section.id}} .right-content-1,
                       #shopify-section-{{section.id}} .right-content-2,
                       #shopify-section-{{section.id}} .right-content-3,
                       #shopify-section-{{section.id}} .right-content-4  {
                         border: 1px solid #254249;
                         border-radius: 12px;
                         border-right: 4px solid #254249;
                         border-bottom: 4px solid #254249;

                       }
                    .text-above-button {
                         gap: 0 6px;
                         width: max-content;
                      max-width: 100%;
                      justify-content: center;
                       }
                        .text-above-button .free-us-money-back {
                           gap: 4px;
                           font-size: 10px;
                       }


                       #shopify-section-{{section.id}} .textblock-add-to-cart {
                           max-width: 343px;
                           margin: 20px auto 0;
                       }


                       .text-block-btn-container-d6-add-to-cart {
                           border-radius: 5px;
                       }

                       .text-block-btn-container-d6-add-to-cart .button{
                         background: #d3a221;
                         border:none;
                         font-size: 14px;
                         font-weight: bold;
                       }
                       .slider-container-d6-s {
                           /* display: flex; */
                           position: relative;
                           width: 560px;
                           height: 400px;
                           height: 100%;
                           overflow: hidden;
                       }

                       .slider-s {
                           display: flex;
                           transition: transform 0.5s ease-in-out;
                           align-items: stretch;
                       }

                       .card-s {
                           min-width: 560px;
                           display: flex;
                           justify-content: flex-start
                       }

                       .controls-s {
                           /* position: absolute; */
                           width: 100%;
                           /* bottom: -20px; */
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           margin-top: 20px;
                       }

                       .arrow-s {
                           display: flex;
                           background: none;
                           border: none;
                           font-size: 24px;
                           cursor: pointer;
                           margin: 0 10px;
                       }

                       .dots-s {
                           display: flex;
                           justify-content: center;
                           align-items: center;
                       }

                       .dot-s {
                           height: 10px;
                           width: 10px;
                           margin: 0 5px;
                           background-color: white;
                           border: 1px solid #254249;
                           border-radius: 50%;
                           display: inline-block;
                           cursor: pointer;
                       }

                       .dot-s.active {
                           background-color: #254249;
                       }
                       }
                       @media screen and (max-width:905px) {
                          .container-d6-parent-d11{
                         max-width: 100%;
                         padding-top: {{ section.settings.custom-padding-option-top-mobile }}px;
                         padding-bottom: {{ section.settings.custom-padding-option-bottom-mobile }}px;
                           padding-inline: 16px;
                       }
                       }
                       @media screen and (max-width:575px) {
                       #shopify-section-{{ section.id }} .container-d6.desktop {
                         display:none;
                       }
                       .free-us-money-back div{
                         width: 18px;
                       }
                       .free-us-money-back p{
                         letter-spacing: 0;
                       }
                       #shopify-section-{{ section.id }} .container-d6.mobile {
                         display:flex;
                         flex-direction:column;
                       }
                         .my-mobile-img {
                           height: 416px;
                           width: 100%;
                         }

                       #shopify-section-{{ section.id }} .heading-and-description {
                           gap:16px;
                           max-width:500px;
                           margin-bottom: 32px;
                         text-align: center;
                       }

                       #shopify-section-{{section.id}} .heading-s.text-animation-d8 {
                           font-size: 32px;
                           padding: 0px 30px;
                       }
                       #shopify-section-{{section.id}} .description-s.text-animation-d8 {
                           font-size: 14px;
                       }

                       #shopify-section-{{section.id}} .container-d6 {
                           gap: 32px;
                       }

                       #shopify-section-{{section.id}} .text-block-heading-d11 {
                           max-width: 100%;
                           min-width: 100%;
                           position: relative;
                           display: flex;
                           justify-content: space-between;
                           padding: 16px;
                           align-items: end;
                           border-bottom: 1px solid rgba(4, 4, 4, 0.1);
                       }

                       #shopify-section-{{section.id}} .text-block-heading-d11 div {
                           width: 36px;
                           height: 32px;
                       }
                       #shopify-section-{{section.id}} .text-block-heading-d11 div img {
                           width: 100%;
                           height: auto;
                           object-fit: cover;
                       }

                       #shopify-section-{{section.id}} .text-block-h3-d11 {
                           font-size: 20px;
                           max-width: 277px;
                           position: relative;
                           font-style: normal;
                           /* border-bottom: 2px solid #648291; */
                           padding-bottom: 0px;
                           font-weight: 600;
                           line-height: normal;
                       }

                       #shopify-section-{{section.id}} .text-block-p-d11 {
                           font-size: 14px;
                           padding: 16px;
                       }


                       #shopify-section-{{section.id}} .content12,
                       #shopify-section-{{section.id}} .content34,
                       #shopify-section-{{section.id}} .content56,
                       #shopify-section-{{section.id}} .content66  {
                           display: flex;
                           flex-direction: column;
                           gap: 20px;
                       }

                       #shopify-section-{{section.id}} .left-content-1,
                       #shopify-section-{{section.id}} .left-content-2,
                       #shopify-section-{{section.id}} .left-content-3,
                       #shopify-section-{{section.id}} .left-content-4,
                       #shopify-section-{{section.id}} .right-content-1,
                       #shopify-section-{{section.id}} .right-content-2,
                       #shopify-section-{{section.id}} .right-content-3,
                       #shopify-section-{{section.id}} .right-content-4{
                         border: 1px solid #254249;
                         border-radius: 12px;
                         border-right: 4px solid #254249;
                         border-bottom: 4px solid #254249;
                         padding: 0;
                       }
                        .text-above-button {
                         gap: 0 6px;
                         width: max-content;
                         justify-content: center;
                         max-width: 100%;
                       }
                    .text-above-button .free-us-money-back {
                           gap: 4px;
                            min-width: max-content;
                           font-size: 9px;
                       }


                       #shopify-section-{{section.id}} .textblock-add-to-cart {
                           max-width: 343px;
                           margin: 20px auto 0;
                       }


                       .text-block-btn-container-d6-add-to-cart {
                           border-radius: 5px;
                       }

                       .text-block-btn-container-d6-add-to-cart .button{
                         background: #d3a221;
                         border:none;
                         font-size: 14px;
                         font-weight: bold;
                       }
                       .slider-container-d6-s {
                           /* display: flex; */
                           position: relative;
                           width: 300px;
                           height: 400px;
                           height: 100%;
                           overflow: hidden;
                       }

                       .slider-s {
                           display: flex;
                           transition: transform 0.5s ease-in-out;
                       }

                       .card-s {
                           min-width: 100%;
                           height: 400px;
                           height: 100%;
                           display: flex;
                           justify-content: flex-start;
                           align-items: center;
                       }

                       .controls-s {
                           /* position: absolute; */
                           width: 100%;
                           /* bottom: -20px; */
                           display: flex;
                           justify-content: center;
                           align-items: center;
                           margin-top: 10px;
                       }

                       .arrow-s {
                           background: none;
                           border: none;
                           font-size: 24px;
                           cursor: pointer;
                           margin: 0 10px;
                           display: flex;
                       }

                       .dots-s {
                           display: flex;
                           justify-content: center;
                           align-items: center;
                       }

                       .dot-s {
                           height: 10px;
                           width: 10px;
                           margin: 0 5px;
                           background-color: white;
                           border: 1px solid #254249;
                           border-radius: 50%;
                           display: inline-block;
                           cursor: pointer;
                       }

                       .dot-s.active {
                           background-color: #254249;
                       }

                       }

                     @media screen and (max-width: 768px)  {
                     #shopify-section-{{ section.id }} .text-block-heading-d11 .text-content-3-d4-img {
                       width: 65px;
                     }
                     #shopify-section-{{section.id}} .text-block-heading-d11 div{
                       min-width: 30px;
                       max-width: 30px;
                     }
                       .slider-container-d6-s{
                         width: 100%;
                       }
                     }
                     @media(max-width: 400px){
                       .text-above-button{
                         flex-wrap: wrap;
                       }
                     }
</style>

<div class="container-d6-parent-d11">
  <div class="heading-and-description">
    <div class="heading-s text-animation-d8">
      {{ section.settings.block_heading }}
      <span class="heading-s-color">{{ section.settings['block_heading-2'] }}</span>
    </div>
    <div class="description-s text-animation-d8">{{ section.settings.block_discription }}</div>
  </div>

  <div class="container-d6 desktop">
    <div class="left">
      <div class="left-content-1">
        {% if section.settings['left-icon-1'] != blank %}
          <div class="left-content-1-icon content-icon">
            <img src="{{ section.settings.left-icon-1 | img_url:"1440x" }}" width="" height="">
          </div>
        {% endif %}
        <div class="text-block text-block-left">
          <div class="text-block-heading-d11">
            <h3 class="text-block-h3-d11 text-align-right-d11">{{ section.settings.left_1_heading }}</h3>
          </div>

          <p class="text-block-p-d11 text-align-right-d11">
            {{ section.settings.left_1_discp }}
          </p>
        </div>
      </div>

      <div class="left-content-2">
        <hr class="hr-top-s">
        {% if section.settings['left-icon-2'] != blank %}
          <div class="left-content-2-icon content-icon">
            <img src="{{ section.settings.left-icon-2 | img_url:"1440x" }}" width="" height="">
          </div>
        {% endif %}
        <div class="text-block text-block-left">
          <div class="text-block-heading-d11">
            <h3 class="text-block-h3-d11 text-align-right-d11">{{ section.settings.left_2_heading }}</h3>
          </div>

          <p class="text-block-p-d11 text-align-right-d11">
            {{ section.settings.left_2_discp }}
          </p>
        </div>
        <hr class="hr-bottom-s">
      </div>

      <div class="left-content-3">
        {% if section.settings['left-icon-3'] != blank %}
          <div class="left-content-3-icon content-icon">
            <img src="{{ section.settings.left-icon-3 | img_url:"1440x" }}" width="" height="">
          </div>
        {% endif %}
        <div class="text-block text-block-left">
          <div class="text-block-heading-d11">
            <h3 class="text-block-h3-d11 text-align-right-d11">{{ section.settings.left_3_heading }}</h3>
          </div>

          <p class="text-block-p-d11 text-align-right-d11">
            {{ section.settings.left_3_discp }}
          </p>
        </div>
        <hr class="hr-bottom-s">
      </div>
      <div class="left-content-4">
        {% if section.settings['left-icon-4'] != blank %}
          <div class="left-content-4-icon content-icon">
            <img src="{{ section.settings.left-icon-4 | img_url:"1440x" }}" width="" height="">
          </div>
        {% endif %}
        <div class="text-block text-block-left">
          <div class="text-block-heading-d11">
            <h3 class="text-block-h3-d11 text-align-right-d11">{{ section.settings.left_4_heading }}</h3>
          </div>

          <p class="text-block-p-d11 text-align-right-d11">
            {{ section.settings.left_4_discp }}
          </p>
        </div>
      </div>
    </div>
    <div class="center-image desktop-image-d11">
      <img
        src="{{ section.settings.image_id | image_url: width: '1440' }}"
        alt="Nerve Matrix Bottle"
        height=""
        width=""
      >
    </div>
    <div class=" right">
      <div class="right-content-1">
        {% if section.settings['right-icon-1'] != blank %}
          <div class="right-content-1-icon content-icon">
            <img src="{{ section.settings.right-icon-1 | img_url:"1440x" }}" width="" height="">
          </div>
        {% endif %}
        <div class="text-block">
          <div class="text-block-heading-d11">
            <h3 class="text-block-h3-d11">{{ section.settings.right_1_heading }}</h3>
          </div>

          <p class="text-block-p-d11">
            {{ section.settings.right_1_discp }}
          </p>
        </div>
      </div>

      <div class="right-content-2">
        {% if section.settings['right-icon-2'] != blank %}
          <div class="right-content-2-icon content-icon">
            <img src="{{ section.settings.right-icon-2 | img_url:"1440x" }}" width="" height="">
          </div>
        {% endif %}
        <div class="text-block">
          <div class="text-block-heading-d11">
            <h3 class="text-block-h3-d11">{{ section.settings.right_2_heading }}</h3>
          </div>

          <p class="text-block-p-d11">
            {{ section.settings.right_2_discp }}
          </p>
        </div>
      </div>

      <div class="right-content-3">
        {% if section.settings['right-icon-3'] != blank %}
          <div class="right-content-3-icon content-icon">
            <img src="{{ section.settings.right-icon-3 | img_url:"1440x" }}" width="" height="">
          </div>
        {% endif %}
        <div class="text-block">
          <div class="text-block-heading-d11">
            <h3 class="text-block-h3-d11">{{ section.settings.right_3_heading }}</h3>
          </div>

          <p class="text-block-p-d11">
            {{ section.settings.right_3_discp }}
          </p>
        </div>
      </div>
      <div class="right-content-4">
        {% if section.settings['right-icon-4'] != blank %}
          <div class="right-content-4-icon content-icon">
            <img src="{{ section.settings.right-icon-4 | img_url:"1440x" }}" width="" height="">
          </div>
        {% endif %}
        <div class="text-block">
          <div class="text-block-heading-d11">
            <h3 class="text-block-h3-d11">{{ section.settings.right_4_heading }}</h3>
          </div>

          <p class="text-block-p-d11">
            {{ section.settings.right_4_discp }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-d6 mobile">
    <div class="my-mobile-img">
      <img src="{{ section.settings.image_id_mobile | image_url }}" alt="" height="" width="">
    </div>

    <div class="slider-container-d6-s">
      <div class="mobile-all-content slider-s">
        <div class="content12 card-s">
          <div class="left-content-1">
            <div class="text-block text-block-left">
              <div class="text-block-heading-d11">
                <h3 class="text-block-h3-d11 text-align-right-d11">{{ section.settings.left_1_heading }}</h3>
                {% if section.settings['left-icon-1'] != blank %}
                  <div><img src="{{ section.settings.left-icon-1 | img_url:"1440x" }}" width="" height=""></div>
                {% endif %}
              </div>

              <p class="text-block-p-d11 text-align-right-d11">
                {{ section.settings.left_1_discp }}
              </p>
            </div>
          </div>
          <div class="left-content-2">
            <div class="text-block text-block-left">
              <div class="text-block-heading-d11">
                <h3 class="text-block-h3-d11 text-align-right-d11">{{ section.settings.left_2_heading }}</h3>
                {% if section.settings['left-icon-2'] != blank %}
                  <div><img src="{{ section.settings.left-icon-2 | img_url:"1440x" }}" width="" height=""></div>
                {% endif %}
              </div>

              <p class="text-block-p-d11 text-align-right-d11">
                {{ section.settings.left_2_discp }}
              </p>
            </div>
          </div>
        </div>

        <div class="content34 card-s">
          <div class="left-content-3">
            <div class="text-block text-block-left">
              <div class="text-block-heading-d11">
                <h3 class="text-block-h3-d11 text-align-right-d11">{{ section.settings.left_3_heading }}</h3>
                {% if section.settings['left-icon-3'] != blank %}
                  <div><img src="{{ section.settings.left-icon-3 | img_url:"1440x" }}" width="" height=""></div>
                {% endif %}
              </div>

              <p class="text-block-p-d11 text-align-right-d11">
                {{ section.settings.left_3_discp }}
              </p>
            </div>
          </div>
          <div class="left-content-4">
            <div class="text-block text-block-left">
              <div class="text-block-heading-d11">
                <h3 class="text-block-h3-d11 text-align-right-d11">{{ section.settings.left_4_heading }}</h3>
                {% if section.settings['left-icon-4'] != blank %}
                  <div>
                    <img src="{{ section.settings.left-icon-4 | img_url:"1440x" }}" width="" height="">
                  </div>
                {% endif %}
              </div>

              <p class="text-block-p-d11 text-align-right-d11">
                {{ section.settings.left_4_discp }}
              </p>
            </div>
          </div>
        </div>

        <div class="content56 card-s">
          <div class="right-content-1">
            <div class="text-block">
              <div class="text-block-heading-d11">
                <h3 class="text-block-h3-d11">{{ section.settings.right_1_heading }}</h3>
                {% if section.settings['right-icon-1'] != blank %}
                  <div><img src="{{ section.settings.right-icon-1 | img_url:"1440x" }}" width="" height=""></div>
                {% endif %}
              </div>

              <p class="text-block-p-d11">
                {{ section.settings.right_1_discp }}
              </p>
            </div>
          </div>
          <div class="right-content-2">
            <div class="text-block">
              <div class="text-block-heading-d11">
                <h3 class="text-block-h3-d11">{{ section.settings.right_2_heading }}</h3>
                {% if section.settings['right-icon-2'] != blank %}
                  <div class="text-content-3-d4-img">
                    <img src="{{ section.settings.right-icon-2 | img_url:"1440x" }}" width="" height="">
                  </div>
                {% endif %}
              </div>

              <p class="text-block-p-d11">
                {{ section.settings.right_2_discp }}
              </p>
            </div>
          </div>
        </div>
        <div class="content66 card-s">
          <div class="right-content-3">
            <div class="text-block">
              <div class="text-block-heading-d11">
                <h3 class="text-block-h3-d11">{{ section.settings.right_3_heading }}</h3>
                {% if section.settings['right-icon-3'] != blank %}
                  <div><img src="{{ section.settings.right-icon-3 | img_url:"1440x" }}" width="" height=""></div>
                {% endif %}
              </div>

              <p class="text-block-p-d11">
                {{ section.settings.right_3_discp }}
              </p>
            </div>
          </div>
          <div class="right-content-4">
            <div class="text-block">
              <div class="text-block-heading-d11">
                <h3 class="text-block-h3-d11">{{ section.settings.right_4_heading }}</h3>
                {% if section.settings['right-icon-4'] != blank %}
                  <div>
                    <img src="{{ section.settings.right-icon-4 | img_url:"1440x" }}" width="" height="">
                  </div>
                {% endif %}
              </div>

              <p class="text-block-p-d11">
                {{ section.settings.right_4_discp }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="controls-s">
        <button class="arrow-s left-s" onclick="prevSSlide()">
          <svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19" fill="none">
            <path d="M9.4375 17.2847L1.4375 9.28467L9.4375 1.28467" stroke="#254249" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </button>
        <div class="dots-s">
          <span class="dot-s" onclick="currentSlide(0)"></span>
          <span class="dot-s" onclick="currentSlide(1)"></span>
          <span class="dot-s" onclick="currentSlide(2)"></span>
          <span class="dot-s" onclick="currentSlide(3)"></span>
        </div>
        <button class="arrow-s right-s" onclick="nextSSlide()">
          <svg xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19" fill="none">
            <path d="M1.4375 1.28467L9.4375 9.28467L1.4375 17.2847" stroke="#254249" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
  {% render 'd6-button-snippet',
    button_url: section.settings.button_url,
    button_text: section.settings.button_content,
    background_color: section.settings['btn-bg'],
    color: section.settings['btn-color'],
    ship-icon: section.settings['ship-icon'],
    ship-text: section.settings['ship-text']
  %}
</div>

{% schema %}
{
  "name": "Text Image Text",
  "settings": [
    {
      "type": "text",
      "id": "block_heading",
      "label": "Heading",
      "default":"Whole Night & All Day"
    },
    {
      "type": "text",
      "id": "block_heading-2",
      "label": "Heading with color",
      "default":"Benefits"
    },
    {
      "type": "text",
      "id": "block_discription",
      "label": "Discription",
      "default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat odio nunc magna aenean"
    },
    {
      "type": "image_picker",
      "id": "image_id",
      "label": "Product Image"
    },
    {
      "type":"image_picker",
      "id":"image_id_mobile",
      "label":"Product mobile image"
    },
    {
      "type": "image_picker",
      "id": "left-icon-1",
      "label": "Left icon 1"
    },
    {
      "type": "text",
      "id": "left_1_heading",
      "label": "Left Heading 1",
      "default":"Introducing Nerve Matrix"
    },
      {
      "type": "text",
      "id": "left_1_discp",
      "label": "Left Discription 1"
    },
    {
      "type": "image_picker",
      "id": "left-icon-2",
      "label": "Left icon 2"
    },
    {
      "type": "text",
      "id": "left_2_heading",
      "label": "Left Heading 2",
      "default":"Introducing Nerve Matrix"
    },
      {
      "type": "text",
      "id": "left_2_discp",
      "label": "Left Discription 2"
    },
    {
      "type": "image_picker",
      "id": "left-icon-3",
      "label": "Left icon 3"
    },
    {
      "type": "text",
      "id": "left_3_heading",
      "label": "Left Heading 3",
      "default":"Introducing Nerve Matrix"
    },
      {
      "type": "text",
      "id": "left_3_discp",
      "label": "Left Discription 3"
    },
    {
      "type": "image_picker",
      "id": "left-icon-4",
      "label": "Left icon 4"
    },
    {
      "type": "text",
      "id": "left_4_heading",
      "label": "Left Heading 4",
      "default":"Introducing Nerve Matrix"
    },
      {
      "type": "text",
      "id": "left_4_discp",
      "label": "Left Discription 4"
    },
    {
      "type": "image_picker",
      "id": "right-icon-1",
      "label": "Right icon 1"
    },
    {
      "type": "text",
      "id": "right_1_heading",
      "label": "Rignt Heading 1",
      "default":"Introducing Nerve Matrix"
    },
      {
      "type": "text",
      "id": "right_1_discp",
      "label": "Rignt Discription 1"
    },
    {
      "type": "image_picker",
      "id": "right-icon-2",
      "label": "Right icon 2"
    },
    {
      "type": "text",
      "id": "right_2_heading",
      "label": "Rignt Heading 2",
      "default":"Introducing Nerve Matrix"
    },
     {
      "type": "text",
      "id": "right_2_discp",
      "label": "Rignt Discription 2"
    },
    {
      "type": "image_picker",
      "id": "right-icon-3",
      "label": "Right icon 3"
    },
    {
      "type": "text",
      "id": "right_3_heading",
      "label": "Rignt Heading 3",
      "default":"Introducing Nerve Matrix"
    },
     {
      "type": "text",
      "id": "right_3_discp",
      "label": "Rignt Discription 3"
    },
    {
      "type": "image_picker",
      "id": "right-icon-4",
      "label": "Right icon 4"
    },
    {
      "type": "text",
      "id": "right_4_heading",
      "label": "Rignt Heading 4",
      "default":"Introducing Nerve Matrix"
    },
     {
      "type": "text",
      "id": "right_4_discp",
      "label": "Rignt Discription 4"
    },
    {
      "type": "image_picker",
      "id": "ship-icon",
      "label": "Shipping Icon"
    },
    {
      "type": "text",
      "id": "ship-text",
      "label": "Shipping Text",
      "default": "Free U.S. & CDN Shipping Options"
    },
    {
      "type": "text",
      "id": "button_content",
      "label": "Button Content"
    },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
    {
      "type": "color",
      "id": "btn-bg",
      "label": "Button Background",
       "default": "#49717B"
    },
    {
      "type": "color",
      "id": "btn-color",
      "label": "Button Text Color",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "custom-padding-option-top-desktop",
      "label": "Select Top padding",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "custom-padding-option-bottom-desktop",
      "label": "Select Bottom padding",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 60
    },
    {
      "type": "range",
      "id": "custom-padding-option-top-mobile",
      "label": "Select Mobile Top padding",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 30
    },
    {
      "type": "range",
      "id": "custom-padding-option-bottom-mobile",
      "label": "Select Mobile Bottom padding",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 30
    }


  ],
  "presets": [
    {
      "name": "Benefits D5"
    }
  ]
}
{% endschema %}
<script>
  let SSliderCurrentIndex = 0;

function showSSlide(index) {
    const SSlider = document.querySelector('.slider-s');
    const SDots = document.querySelectorAll('.dot-s');
    const STotalSlides = document.querySelectorAll('.card-s').length;

    if (index >= STotalSlides) {
        SSliderCurrentIndex = 0;
    } else if (index < 0) {
        SSliderCurrentIndex = STotalSlides - 1;
    } else {
        SSliderCurrentIndex = index;
    }

    SSlider.style.transform = `translateX(-${SSliderCurrentIndex * 100}%)`;

    SDots.forEach((dot, idx) => {
        dot.classList.toggle('active', idx === SSliderCurrentIndex);
    });
}

function nextSSlide() {
    showSSlide(SSliderCurrentIndex + 1);
}

function prevSSlide() {
    showSSlide(SSliderCurrentIndex - 1);
}

function currentSSlide(index) {
    showSSlide(index);
}

document.addEventListener('DOMContentLoaded', () => {
    showSSlide(SSliderCurrentIndex);

    let SStartX;
    const SSliderContainer = document.querySelector('.slider-container-d6-s');

    SSliderContainer.addEventListener('touchstart', (e) => {
        SStartX = e.touches[0].clientX;
    });

    SSliderContainer.addEventListener('touchmove', (e) => {
        if (!SStartX) return;

        let SMoveX = e.touches[0].clientX;
        let SDiffX = SStartX - SMoveX;

        if (SDiffX > 50) {
            nextSSlide();
            SStartX = null;
        } else if (SDiffX < -50) {
            prevSSlide();
            SStartX = null;
        }
    });
});
</script>
