<style>

  .section-{{ section.id }}  *{
    font-family: 'DIN Next', sans-serif;
  }
  
  .section-{{ section.id }} {
    border-top: solid #000000 0px;
    border-bottom: solid #000000 0px;
    overflow: hidden;
  }
  
  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ section.settings.pt }}px;
    padding-bottom: {{ section.settings.pb }}px;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .announcement-item-{{ section.id }} {
    flex-shrink: 0;
    margin-left: {{ section.settings.g-main }}px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: {{ section.settings.g-t }}px;
  }

  .main-txt-d5.announcement-text-{{ section.id }}  {
    margin: 0;
    font-size: {{ section.settings.fs-t }}px;
    color: {{ section.settings.c-t }};
    line-height: 100%;
    font-weight: {{ section.settings.f-w-m }};
    text-transform: unset;
  }
  .small-txt-d5.announcement-text-{{ section.id }}  {
    margin: 0;
    font-size: {{ section.settings.fs-t-s }}px;
    color: {{ section.settings.c-t-s }};
    line-height: 100%;
    text-transform: unset;
    font-weight: {{ section.settings.f-w-s }};
  }


   .main-txt-d5.announcement-text-{{ section.id }}  {
     margin: 0;
     font-size: {{ section.settings.fs-t }}px;
     color: {{ section.settings.c-t }};
     line-height: 100%;
     font-weight: {{ section.settings.f-w-m }};
     text-transform: unset;
   }
   .small-txt-d5.announcement-text-{{ section.id }}  {
     margin: 0;
     font-size: {{ section.settings.fs-t-s }}px;
     color: {{ section.settings.c-t-s }};
     line-height: 100%;
     text-transform: unset;
     font-weight: {{ section.settings.f-w-s }};
   }

   .section-{{ section.id }} a {
     text-decoration:none!important;
   }

    .announcement-icon-{{ section.id }} {
     max-height: {{ section.settings.icons-s-m }}px;
     width: {{ section.settings.icons-s-m }}px;
     display: flex;
     align-items: center;
     justify-content: center;
   }

   .announcement-icon-{{ section.id }} img,
   .announcement-icon-{{ section.id }} svg {
     display: block;
     width: 100%;
     height: 100%;
     object-fit: contain;
   }

   .announcement-icon-{{ section.id }} svg path {
     /* fill: #ffffff; */
   }

   .announcement-inner-{{ section.id }} {
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
   }
   .text-content-d5{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: {{ section.settings.gap-t }}px;
   }
   @media(min-width: 1024px) {

     .section-{{ section.id }} {

     }
     .main-txt-d5.announcement-text-{{ section.id }} {
       font-size: {{ section.settings.fs-t-d }}px;
     }
     .small-txt-d5.announcement-text-{{ section.id }}  {
      font-size: {{ section.settings.fs-t-s-d }}px;
    }
     .section-{{ section.id }}-settings {
       padding-top: {{ section.settings.pt-d }}px;
       padding-bottom: {{ section.settings.padding-bottom-desktop }}px;
       padding-left: 0rem;
       padding-right: 0rem;
     }

     .announcement-item-{{ section.id }} {
       margin-left: {{ section.settings.g-main-d }}px;
       gap: {{ section.settings.g-t-d }}px;
     }

     .announcement-icon-{{ section.id }} {
       height: {{ section.settings.icons-s }}px;
       width: {{ section.settings.icons-s }}px;
     }


   }
   #shopify-section-{{ section.id }}{
     overflow-x: hidden;
   }
  #shopify-section-{{ section.id }} .cross-bar-1-d5{
     transform: rotate(6deg) translateY(50px);
     width: 110%;
   }
  #shopify-section-{{ section.id }} .cross-bar-2-d5{
     transform: rotate(-6deg) translateY(-50px);
     width: 110%;
   }
  #shopify-section-{{ section.id }} .announcment-bar-main-d5{
    display: flex;
    align-items: center;
    flex-direction: column;
     margin-top: {{ section.settings.mt }}px;
     margin-bottom: {{ section.settings.mb }}px;
   }
   @media (min-width: 1024px){
    #shopify-section-{{ section.id }} .announcment-bar-main-d5 {
     margin-top: {{ section.settings.mt-d }}px;
      margin-bottom: {{ section.settings.mb-d }}px;
   }
</style>
<div class="announcment-bar-main-d5">
  {% if section.settings['bar-type'] == 'single' %}
    <div class="announcemnt-bar-1-d5">
      {% render 'announcement-bar',
        d5-announcement: 'd5-announcement--snippet_1',
        bg_color: section.settings['an-bg'],
        anim: section.settings.anim
      %}
    </div>
  {% else %}
    <div class="announcemnt-bar-1-d5 cross-bar-1-d5">
      {% render 'announcement-bar',
        d5-announcement: 'd5-announcement--snippet_1',
        bg_color: section.settings['an-bg'],
        anim: section.settings.anim
      %}
    </div>
    <div class="announcemnt-bar-2-d5 cross-bar-2-d5">
      {% render 'announcement-bar',
        d5-announcement: 'd5-announcement--snippet_2',
        bg_color: section.settings['an-bg-2'],
        anim: section.settings.anim_2
      %}
    </div>
  {% endif %}
</div>
{% schema %}
  {
    "name": "Announcement 2",
    "settings": [
      {
        "type": "header",
        "content": "Main configurations",
        "info": "Bar 2 settings only apply if 'Double Crossed bar' is selected"
      },
      {
        "type": "select",
        "id": "bar-type",
        "label": "Bar Type",
        "default": "single",
        "options": [
          {
            "label": "Single Bar",
            "value": "single"
          },
          {
            "label": "Double Crossed Bar",
            "value": "double"
          }
        ]
      },
      {
        "type": "color_background",
        "id": "an-bg",
        "label": "Background Color Bar 1",
        "default": "#000"
      },
       {
        "type": "color_background",
        "id": "an-bg-2",
        "label": "Background Color Bar 2",
        "default": "#000",
         "info": "Only applicable if 'Double Crossed' bar is selected"
      },
      {
        "type": "select",
        "id": "anim",
        "label": "Animation Direction Bar 1",
        "default": "d5-lr-anim",
        "options": [
          {
            "label": "Left to Right",
            "value": "d5-lr-anim"
          },
          {
            "label": "Right to Left",
            "value": "d5-rl-anim"
          }
        ]
      },
      {
        "type": "select",
        "id": "anim_2",
        "label": "Animation Direction Bar 2",
        "default": "d5-lr-anim",
        "info": "Only applicable if 'Double Crossed' bar is selected",
        "options": [
          {
            "label": "Left to Right",
            "value": "d5-lr-anim"
          },
          {
            "label": "Right to Left",
            "value": "d5-rl-anim"
          }
        ]
      },
      {
        "type": "header",
        "content": "Section Layout"
      },
      {
        "type": "range",
        "id": "anim-time",
        "min": 0,
        "max": 200,
        "unit": "s",
        "label": "Time Duration",
        "step": 2,
        "default": 50
      },
      {
        "type": "checkbox",
        "id": "pause",
        "label": "Pause on Hover",
        "default": true
      },
       {
        "type": "range",
        "id": "g-main-d",
        "min": 0,
        "max": 200,
        "unit": "px",
        "label": "Gap b/w announcements (Desktop)",
        "step": 2,
        "default": 50
      },
       {
        "type": "range",
        "id": "g-main",
        "min": 0,
        "max": 200,
        "unit": "px",
        "label": "Gap b/w announcements (Mobile)",
        "step": 2,
        "default": 30
      },
       {
        "type": "range",
        "id": "g-t-d",
        "min": 0,
        "max": 200,
        "unit": "px",
        "label": "Gap b/w text and icon (Desktop)",
        "step": 2,
        "default": 50
      },
       {
        "type": "range",
        "id": "g-t",
        "min": 0,
        "max": 200,
        "unit": "px",
        "label": "Gap b/w text and icon (Mobile)",
        "step": 2,
        "default": 30
      },

      {
        "type": "range",
        "id": "pt-d",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Padding Top (Desktop)",
        "step": 1,
        "default": 36
      },{
        "type": "range",
        "id": "padding-bottom-desktop",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Padding Bottom (Desktop)",
        "step": 1,
        "default": 36
      },
    {
        "type": "range",
        "id": "pt",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Padding Top (Mobile)",
        "step": 1,
        "default": 36
      },
      {
        "type": "range",
        "id": "pb",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Padding Bottom (Mobile)",
        "step": 1,
        "default": 36
      },
         {
        "type": "range",
        "id": "mt-d",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Margin Top (Desktop)",
        "step": 1,
        "default": 50
      },
      {
        "type": "range",
        "id": "mb-d",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Margin Bottom (Desktop)",
        "step": 1,
        "default": 50
      },
         {
        "type": "range",
        "id": "mt",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Margin Top (Mobile)",
        "step": 1,
        "default": 50
      },
      {
        "type": "range",
        "id": "mb",
        "min": 0,
        "max": 100,
        "unit": "px",
        "label": "Margin Bottom (Mobile)",
        "step": 1,
        "default": 50
      },
      {
        "type": "header",
        "content": "Icon Styling"
      },
     {
        "type": "range",
        "id": "icons-s",
        "label": "Icon Size (Desktop)",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "default": 60
      },
       {
        "type": "range",
        "id": "icons-s-m",
        "label": "Icon Size (Mobile)",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "default": 38
      },
      {
        "type": "header",
        "content": "Main Text Styling"
      },
        {
        "type": "range",
        "id": "fs-t-d",
        "label": "Main Text Font Size (Desktop)",
        "min": 4,
        "max": 75,
        "step": 1,
        "unit": "px",
        "default": 25
      },
      {
        "type": "range",
        "id": "fs-t",
        "label": "Main Text Font Size (Mobile)",
        "min": 4,
        "max": 75,
        "step": 1,
        "unit": "px",
        "default": 16
      },
    {
  "type": "select",
  "id": "f-w-m",
  "label": "Main Text Font Weight",
  "default": "400",
  "options": [
    {
      "value": "100",
      "label": "Thin (100)"
    },
    {
      "value": "200",
      "label": "Extra Light (200)"
    },
    {
      "value": "300",
      "label": "Light (300)"
    },
    {
      "value": "400",
      "label": "Normal (400)"
    },
    {
      "value": "500",
      "label": "Medium (500)"
    },
    {
      "value": "600",
      "label": "Semi Bold (600)"
    },
    {
      "value": "700",
      "label": "Bold (700)"
    },
    {
      "value": "800",
      "label": "Extra Bold (800)"
    },
    {
      "value": "900",
      "label": "Full Bold (900)"
    }
  ]
},

      {
        "type": "color",
        "id": "c-t",
        "label": "Main Text Color",
        "default": "#fff"
      },
      {
        "type": "header",
        "content": "Small Text Styling"
      },
      {
        "type": "range",
        "id": "fs-t-s-d",
        "label": "Small Text Font Size (Desktop)",
        "min": 4,
        "max": 75,
        "step": 1,
        "unit": "px",
        "default": 18
      },
       {
        "type": "range",
        "id": "fs-t-s",
        "label": "Small Text Font Size (Mobile)",
        "min": 4,
        "max": 75,
        "step": 1,
        "unit": "px",
        "default": 12
      },
      {
        "type": "color",
        "id": "c-t-s",
        "label": "Small Text Color",
        "default": "#fff"
      },
          {
  "type": "select",
  "id": "f-w-s",
  "label": "Small Text Font Weight",
  "default": "400",
  "options": [
    {
      "value": "100",
      "label": "Thin (100)"
    },
    {
      "value": "200",
      "label": "Extra Light (200)"
    },
    {
      "value": "300",
      "label": "Light (300)"
    },
    {
      "value": "400",
      "label": "Normal (400)"
    },
    {
      "value": "500",
      "label": "Medium (500)"
    },
    {
      "value": "600",
      "label": "Semi Bold (600)"
    },
    {
      "value": "700",
      "label": "Bold (700)"
    },
    {
      "value": "800",
      "label": "Extra Bold (800)"
    },
    {
      "value": "900",
      "label": "Full Bold (900)"
    }
  ]
},
      {
        "type": "range",
        "id": "gap-t",
        "min": 0,
        "max": 30,
        "step": 1,
        "unit": "px",
        "default": 10,
        "label": "Gap between texts"
      },
      {
        "type": "header",
        "content": "Font Family"
      },
       {
      "type": "select",
      "id": "font_choice",
      "label": "Choose Font",
      "default": "Montserrat",
      "options": [
        {
          "value": "Josefin Sans",
          "label": "Josefin Sans"
        },
        {
          "value": "Montserrat",
          "label": "Montserrat"
        },
        {
          "value": "Beefcake",
          "label": "Beefcake"
        }
      ]
    }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Announcement",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "WORLD WIDE SHIPPING"
          },
          {
            "type": "text",
            "id": "min-text",
            "label": "Small Text"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
          },
          {
            "type": "liquid",
            "id": "svg",
            "label": "Paste SVG Code"
          },
          {
            "type": "select",
            "id": "position",
            "label": "Main Text Position",
            "default": "column",
            "info": "Only applicable if 'small text' is present",
            "options": [
              {
                "value": "column",
                "label": "Top"
              },
              {
                "value": "column-reverse",
                "label": "Bottom"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Announcement 2"
      }
    ]
  }
{% endschema %}
